In [21]:
import pandas as pd

In [22]:
df = pd.read_csv("green_tripdata_2019-01.csv", nrows=100)

In [23]:
df.tail()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
95,2,2019-01-01 00:15:42,2019-01-01 00:41:04,N,1,97,179,1,7.83,26.0,0.5,0.5,5.46,0.0,NaN,0.3,32.76,1,1,NaN
96,2,2019-01-01 00:21:28,2019-01-01 00:48:15,N,1,7,230,1,4.49,20.0,0.5,0.5,4.00,0.0,NaN,0.3,25.30,1,1,NaN
97,2,2019-01-01 00:17:10,2019-01-01 00:23:34,N,1,42,42,1,1.08,6.5,0.5,0.5,0.00,0.0,NaN,0.3,7.80,2,1,NaN
98,2,2019-01-01 00:25:01,2019-01-01 00:43:55,N,1,42,232,2,8.74,25.0,0.5,0.5,0.00,0.0,NaN,0.3,26.30,2,1,NaN
99,2,2019-01-01 00:36:56,2019-01-01 00:43:50,N,1,223,7,5,1.32,7.0,0.5,0.5,2.00,0.0,NaN,0.3,10.30,1,1,NaN

In [24]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [35]:
%pip install sqlalchemy psycopg2-binary --user

Requirement already satisfied: sqlalchemy in c:\users\akinfenwa jafar\anaconda3\lib\site-packages (1.4.32)
Requirement already satisfied: psycopg2-binary in c:\users\akinfenwa jafar\appdata\roaming\python\python39\site-packages (2.9.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\akinfenwa jafar\anaconda3\lib\site-packages (from sqlalchemy) (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [25]:
from sqlalchemy import create_engine
import psycopg2

In [26]:
engine = create_engine('postgresql://postgres:0106@localhost:8080/ny_taxi')
engine.connect()

In [29]:
print(pd.io.sql.get_schema(df, name='green_tripdata_2019', con=engine))

CREATE TABLE green_tripdata_2019 (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [34]:
df_iter = pd.read_csv("green_tripdata_2019-01.csv", iterator=True, chunksize=100000)
df_iter

In [36]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [38]:
df=next(df_iter)

In [39]:
len(df)

100000

In [42]:
df.head(n=0).to_sql(name='green_tripdata_2019', con=engine, if_exists='replace')

0

In [44]:
%time df.to_sql(name='green_tripdata_2019', con=engine, if_exists='append')

CPU times: total: 4.55 s
Wall time: 9.91 s

1000

In [45]:
from time import time

In [46]:
while True:
    t_start = time()

    df = next(df_iter)

    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

    df.to_sql(name='green_tripdata_2019', con=engine, if_exists='append')

    t_end = time()

    print("inserted another chunk... took %.3f second" % (t_end - t_start))

inserted another chunk... took 11.347 second
inserted another chunk... took 18.541 second
inserted another chunk... took 18.058 second
inserted another chunk... took 17.948 second
inserted another chunk... took 18.266 second
inserted another chunk... took 5.790 second

StopIteration:

In [59]:
engine = create_engine('postgresql://postgres:0106@localhost:8080/ny_taxi')
engine.connect()

In [58]:
df_zones = pd.read_csv('taxi_zone_lookup.csv')
# df

In [62]:
# df_zones.head(n=0).to_sql(name='taxi_zone_lookup', con=engine, if_exists='replace')


df_zones.to_sql(name='taxi_zone_lookup', con=engine, if_exists='replace')

265

In [64]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [66]:
## Question 3

query3 = """
SELECT COUNT(1) FROM green_tripdata_2019 WHERE DATE(lpep_pickup_datetime) = '2019-01-15' AND DATE(lpep_dropoff_datetime)='2019-01-15'; 
"""
pd.read_sql(query3, con=engine)

   count
0  20530

In [67]:
## Question 4

query4 = """
SELECT date(lpep_pickup_datetime), trip_distance distance FROM green_tripdata_2019 ORDER BY distance DESC LIMIT 1; 
"""
pd.read_sql(query4, con=engine)

         date  distance
0  2019-01-15    117.99

In [68]:
## Question 5

query5 = """
SELECT passenger_count, COUNT(1) FROM green_tripdata_2019 WHERE DATE(lpep_pickup_datetime) = '2019-01-01' AND passenger_count IN (2,3) GROUP BY passenger_count;
"""
pd.read_sql(query5, con=engine)

   passenger_count  count
0                2   1282
1                3    254

In [70]:
## Question 6

query6 = """
SELECT gtd."DOLocationID", tzl."Zone", gtd.tip_amount FROM green_tripdata_2019 gtd JOIN taxi_zone_lookup tzl ON gtd."DOLocationID"=tzl."LocationID" WHERE gtd."PULocationID"=7 ORDER BY gtd.tip_amount DESC LIMIT 1
"""
pd.read_sql(query6, con=engine)

   DOLocationID                           Zone  tip_amount
0           146  Long Island City/Queens Plaza        88.0